
body{
    background-color: lightgrey;
}
.start-quiz{
    text-align: center;
    margin: 10px;
    padding:50px 10px;
    align-items: center;
}
#select-category{
    width: 50%;
    padding: 10px;
    margin: 20px;
}
#begin-btn{
    padding: 5px 5px;
    color: rgb(251, 254, 246);
    background-color: rgb(0, 125, 73);
    border: 0;
    width: 100px;
    height: 30px;
    border-radius: 10px;
}